.page-title {
  display: block !important;
  text-align: center;
  margin: 15px;
  margin-top: 30px;
}

.form-container {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

.distance {
  margin-top: 20px !important;
}

.heading {
  margin-top: 20px !important;
}

.ui.teal.button:focus,
.ui.teal.buttons .buttons:focus {
  background-color: #00b5ad;
}
